/* .dropdown {
    position: relative;
    display: inline-block;
   
  } */
  
  /* .toggleButton {
    
    color: white;
   
    border: none;
    cursor: pointer;
  } */
  
  
  /* .dropdownMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    width: -webkit-fill-available;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem 3rem 0rem 3rem;
    margin: 0;
    list-style-type: none;
  } */
  
  /* .dropdownMenu li {
   
    padding: 1px;
    color: black;
    text-align: center;
    width: -webkit-fill-available;
    
  } */
  
/*   
  .dropdownMenu li:hover {
    background-color: #ddd;
  } */

  /* .styled-dropdown {
    background-color: #6f1e85;
    color: #6f1e85; 
     font-size: 16px; 
      color: white; 
     outline: none; 
     
    }  */
   /* .styled-dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:#6f1e85;
    cursor: pointer;
  } */
  
  /* .styled-dropdown option {
    padding: 10px;
    font-size: 16px;
    
  } */
  
  
/*    
   .styled-dropdown > option {
     background-color: white; 
     color: #6f1e85; 
     border-color: #6f1e85;
   } */
   
   .styled-dropdown {
    border: 2px solid #6f1e85; /* Set the border color */
    padding: 8px; /* Add some padding for better visibility */
    border-radius: 5px; /* Rounded corners */
    background-color: #6f1e85; /* Set the background color to white */
    color: white; /* Set the text color to match the border */
    transition: border-color 0.3s; /* Smooth transition for border color changes */
  }
  
  .styled-dropdown:focus {
    border-color: #6f1e85; /* Ensure border color remains consistent when focused */
  }
  
  .option {
    color: #6f1e85; /* Set the text color for options */
  }
  