/* components/Header.module.css */

.header {
    background-color: #6f1e85;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    font-size: 1.5rem;
    font-family: cursive;
  }
  .nav{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    
  }
  
  .nav ul {
    list-style: none;
    display: flex;
  }
  
  .nav ul li {
    margin-right: 5rem;

  }
  
  .nav ul li a {
    color: #fff;
    text-decoration: none;
  }



  
 

  .productInfo {
    transition: transform 0.3s ease; /* Smooth transition for scaling effect */
    background-color: white;
  }
  
  .productInfo:hover {
    transform: scale(1.05); /* Increases size by 5% when hovering */
   
    
  }

  
  
  