.style-card{
    height: 8rem;
    width: 17rem;
    background-color: white;
    margin:1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 40% 0% 0 40%;
}
.home{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction:column;

}
.cs-div{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction:row;
    border-radius: 0 0 50% 50%;
}

.cs-img{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    
}
.cs-title{
    text-align:left;
    align-items: center;
    margin: 1rem 1rem 1rem 0rem;
    background-color: #c49bcf;
    
    padding: 0.5rem;
}

.products-css{
    
}